In [2]:
import pandas as pd

In [5]:
number = [1, 2, 3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [6]:
animals = ['lion', 'tiger', 'elephant']
pd.Series(animals)

0        lion
1       tiger
2    elephant
dtype: object

In [8]:
# How does Pandas/Numpy store None
numbers = [1, 2, None]

In [9]:
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [11]:
animals = ['lion', 'tiger', None]
pd.Series(animals)

0     lion
1    tiger
2     None
dtype: object

In [12]:
import numpy as np

In [13]:
np.nan == None ## This will return false
np.nan == np.nan ## This will return false

False

In [14]:
np.isnan(np.nan) ## Special method to check of NaN (not a number)

True

In [15]:
# when creating series out a a dictionary object
fruits = {"Apple": 1, "Orange": 2, "Banana": 3}
f = pd.Series(fruits)

In [16]:
f

Apple     1
Orange    2
Banana    3
dtype: int64

In [17]:
f.index

Index(['Apple', 'Orange', 'Banana'], dtype='object')

In [18]:
f['Apple']

1

In [19]:
f.values

array([1, 2, 3], dtype=int64)

In [20]:
#creating a series object directly using inline index 
s = pd.Series(['Hockey', 'Golf', 'Basketball'], index=['India', 'Scotland', 'America'])
s

In [21]:
s.index

Index(['India', 'Scotland', 'America'], dtype='object')

In [22]:
s

India           Hockey
Scotland          Golf
America     Basketball
dtype: object

In [23]:
p = pd.Series(['Hockey', 'Golf', 'Basketball'], index=['Hockey', 'Scotland', 'America'])
p

Hockey          Hockey
Scotland          Golf
America     Basketball
dtype: object

In [25]:
#Creating a series from a supplied disctionary and a already defined index
# in this case panda will ignore the index supplied by disctionary and overwrite the index with its own index supplied
sports = {'Archery': 'Bhutan', 'Golf': 'Scotland', 'Cricket': 'India'}
s = pd.Series(sports, index=(['Archery', 'Golf', 'Football', 'Shooting']))
s

Archery       Bhutan
Golf        Scotland
Football         NaN
Shooting         NaN
dtype: object

In [26]:
# querying a series
sports = {"Golf": 'Scotland',
          'Cricket': 'India',
          'Archery': 'Bhutan',
          'Football': 'Spain'}
s = pd.Series(sports)
s

Golf        Scotland
Cricket        India
Archery       Bhutan
Football       Spain
dtype: object

In [28]:
s[3]

'Spain'

In [29]:
s['Archery']

'Bhutan'

In [30]:
#Attribute to give value present at index location 3
s.iloc[3]

'Spain'

In [31]:
# below code also returns value at index 3
s[3]

'Spain'

In [33]:
# Accessing a value for the index label name
s.loc['Archery']

'Bhutan'

In [34]:
# Same can be accomplished using the direct method
s['Archery']

'Bhutan'

In [35]:
s[0]

'Scotland'

In [36]:
s.iloc[0]

'Scotland'

In [37]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [39]:
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [39]:
s.iloc[0]

In [41]:
s.iloc[1]

'Scotland'

In [42]:
s.iloc[0]

'Bhutan'

In [44]:
s[99]

'Bhutan'

In [45]:
s[100]

'Scotland'

In [47]:
#because we have explicitly provided numbers as key to the items, 
# therefore panda will use the numbers provides as 
# lookup position, therefore s[0] or s[1] won't work. but s.iloc[0], s.iloc[1] will work expectedely
s[1]

KeyError: 1

In [48]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])

In [49]:
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [50]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [51]:
import numpy as np
np.sum(s)

324.0

In [52]:
s = pd.Series(np.random.randint(0, 1000, 10000))
len(s)

10000

In [53]:
%%timeit -n 100
total = 0
for item in s:
    total += item

100 loops, best of 3: 1.07 ms per loop

In [54]:
%%timeit -n 100
total = np.sum(s)
print(total)

4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
4965920
100 loops, best of 3: 445 Âµs per loop

In [55]:
#Broadcasting - applies to all values in the series
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    338
1    850
2    643
3    108
4     45
dtype: int32

In [56]:
s += 2 #incrementing all values in the series by 2
s.head()

0    340
1    852
2    645
3    110
4     47
dtype: int32

In [70]:
#iterative way of incrementing the values in the series 
for label, value in s.iteritems():
    s.loc[label] = value + 2
s.head()

0    366
1    878
2    671
3    136
4     73
dtype: int32

In [74]:
for label, value in s.iteritems():
    s.at[label] = value + 2
s.head()

0    370
1    882
2    675
3    140
4     77
dtype: int32

In [75]:
#Mixed type of index is possible
s = pd.Series([10, 12, 13])
s

0    10
1    12
2    13
dtype: int64

In [76]:
s.loc['Animal'] = 'Lion'

In [78]:
##Notice how the datatype got transformed from int64 to object
s

0           10
1           12
2           13
Animal    Lion
dtype: object

In [79]:
#Non unique Indexes
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'India',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket            India
Cricket         Pakistan
Cricket          England
dtype: object

In [81]:
cricket_loving_countries

Cricket    Australia
Cricket        India
Cricket     Pakistan
Cricket      England
dtype: object

In [82]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [83]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket        India
Cricket     Pakistan
Cricket      England
dtype: object

In [84]:
all_countries.at['Cricket']

array(['Australia', 'India', 'Pakistan', 'England'], dtype=object)

In [85]:
t = pd.Series(all_countries.at['Cricket'])
t

0    Australia
1        India
2     Pakistan
3      England
dtype: object

In [86]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [87]:
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [93]:
df['Item Purchased'].values

array(['Dog Food', 'Kitty Litter', 'Bird Seed'], dtype=object)

In [94]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [95]:
# it look up 
df.loc['Store 1']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
  </tbody>
</table>
</div>

In [96]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [97]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [98]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [99]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [100]:
# Get particular column
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [101]:
# Transpose the data frame to get cost column as row and therefore can be invoked 
# via index operators like loc/iloc
df.T

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Store 1</th>
      <th>Store 1</th>
      <th>Store 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <td>Chris</td>
      <td>Kevyn</td>
      <td>Vinod</td>
    </tr>
    <tr>
      <th>Item Purchased</th>
      <td>Dog Food</td>
      <td>Kitty Litter</td>
      <td>Bird Seed</td>
    </tr>
    <tr>
      <th>Cost</th>
      <td>22.5</td>
      <td>2.5</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [102]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

In [103]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [104]:
df.loc['Cost']

KeyError: 'the label [Cost] is not in the [index]'

In [106]:
# Get Cost for particular Store
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [107]:
df.loc[:]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [108]:
df.loc[:, ['Name', 'Cost']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [109]:
# dropping a column from data frame using drop keyword
# returns a view of df without that column, but original
# remains intact. 
df.drop('Store 2')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
  </tbody>
</table>
</div>

In [110]:
# original dataframe is still intact
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [111]:
df_copy = df.copy() # create a copy of data frame
df_copy = df_copy.drop('Store 1')
df_copy

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [115]:
# del operator will delete the change in the data frame and will materialize the modified view of the dataframe
# this is inplace deletion of columns/rows
del df_copy['Name']
df_copy

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 2</th>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [116]:
del df_copy['Store 2']
df_copy

KeyError: 'Store 2'

In [117]:
df_copy.drop['Store 2']

TypeError: 'method' object is not subscriptable

In [118]:
df_copy.drop('Store 2')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

In [121]:
del df_copy['Cost']

KeyError: 'Cost'

In [122]:
df_copy

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item Purchased</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 2</th>
      <td>Bird Seed</td>
    </tr>
  </tbody>
</table>
</div>

In [123]:
del df_copy['Store 2']

KeyError: 'Store 2'

In [124]:
df_copy

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Item Purchased</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 2</th>
      <td>Bird Seed</td>
    </tr>
  </tbody>
</table>
</div>

In [126]:
del df_copy

NameError: name 'df_copy' is not defined

In [127]:
df_copy

NameError: name 'df_copy' is not defined

In [128]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [129]:
cost = df.loc['Cost']

KeyError: 'the label [Cost] is not in the [index]'

In [130]:
cost = df.at['Cost']

TypeError: _get_value() missing 1 required positional argument: 'col'

In [131]:
cost = df['Cost']

In [132]:
cost

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [133]:
# Increment cost by 2 using broadcaster this also changes the value in original data frame
cost += 2
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>24.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>7.0</td>
    </tr>
  </tbody>
</table>
</div>

In [134]:
type(cost)

pandas.core.series.Series

In [137]:
# Read CSV file.
df = pd.read_csv('olympics.csv')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>â Summer</td>
      <td>01 !</td>
      <td>02 !</td>
      <td>03 !</td>
      <td>Total</td>
      <td>â Winter</td>
      <td>01 !</td>
      <td>02 !</td>
      <td>03 !</td>
      <td>Total</td>
      <td>â Games</td>
      <td>01 !</td>
      <td>02 !</td>
      <td>03 !</td>
      <td>Combined total</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AfghanistanÂ (AFG)</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AlgeriaÂ (ALG)</td>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ArgentinaÂ (ARG)</td>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ArmeniaÂ (ARM)</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [141]:
# index_col defines which column should be used for indexing, here we choose country name as our index column
# skiprows = 1 (skips the first row and make the second row as header. 
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [142]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>â Summer</th>
      <th>01 !</th>
      <th>02 !</th>
      <th>03 !</th>
      <th>Total</th>
      <th>â Winter</th>
      <th>01 !.1</th>
      <th>02 !.1</th>
      <th>03 !.1</th>
      <th>Total.1</th>
      <th>â Games</th>
      <th>01 !.2</th>
      <th>02 !.2</th>
      <th>03 !.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [143]:
# let rename the column. 
df.columns

Index(['â Summer', '01 !', '02 !', '03 !', 'Total', 'â Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', 'â Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [145]:
# iterate over the columns
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col: 'Silver' + col[4:]}, inplace=True)
    if col[:2] == '03':
        df.rename(columns={col: 'Bronze' + col[4:]}, inplace=True)
    if col[:1] == 'â':
        df.rename(columns={col: '#' + col[1:]}, inplace=True)
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [146]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [147]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â':
        df.rename(columns={col:'#' + col[1:]}, inplace=True)

In [148]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [150]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>â Summer</th>
      <th>01 !</th>
      <th>02 !</th>
      <th>03 !</th>
      <th>Total</th>
      <th>â Winter</th>
      <th>01 !.1</th>
      <th>02 !.1</th>
      <th>03 !.1</th>
      <th>Total.1</th>
      <th>â Games</th>
      <th>01 !.2</th>
      <th>02 !.2</th>
      <th>03 !.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [151]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold' + col[4:]}, inplace=True)
    if col[:2] == '02':
        df.rename(columns={col: 'Silver' + col[4:]}, inplace=True)
    if col[:2 ]== '03':
        df.rename(columns={col: 'Bronze' + col[4:]}, inplace=True)
    if col[:1] == 'â':
        df.rename(columns={col: '#' + col[1:]}, inplace=True) 
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [153]:
df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [155]:
print(df.head())

                         # Summer  Gold  Silver  Bronze  Total  # Winter  \
AfghanistanÂ (AFG)              13     0       0       2      2         0
AlgeriaÂ (ALG)                  12     5       2       8     15         3
ArgentinaÂ (ARG)                23    18      24      28     70        18
ArmeniaÂ (ARM)                   5     1       2       9     12         6
AustralasiaÂ (ANZ) [ANZ]         2     3       4       5     12         0

                         Gold.1  Silver.1  Bronze.1  Total.1  # Games  Gold.2  \
AfghanistanÂ (AFG)             0         0         0        0       13       0
AlgeriaÂ (ALG)                 0         0         0        0       15       5
ArgentinaÂ (ARG)               0         0         0        0       41      18
ArmeniaÂ (ARM)                 0         0         0        0       11       1
AustralasiaÂ (ANZ) [ANZ]       0         0         0        0        2       3

                         Silver.2  Bronze.2  Combined total
AfghanistanÂ (AFG)               0         2               2
AlgeriaÂ (ALG)                   2         8              15
ArgentinaÂ (ARG)                24        28              70
ArmeniaÂ (ARM)                   2         9              12
AustralasiaÂ (ANZ) [ANZ]         4         5              12

In [156]:
# Boolean mask
# 1st create boolean series from where you are looking to filter things out
df['Gold'] > 0

AfghanistanÂ (AFG)                               False
AlgeriaÂ (ALG)                                    True
ArgentinaÂ (ARG)                                  True
ArmeniaÂ (ARM)                                    True
AustralasiaÂ (ANZ) [ANZ]                          True
AustraliaÂ (AUS) [AUS] [Z]                        True
AustriaÂ (AUT)                                    True
AzerbaijanÂ (AZE)                                 True
BahamasÂ (BAH)                                    True
BahrainÂ (BRN)                                   False
BarbadosÂ (BAR) [BAR]                            False
BelarusÂ (BLR)                                    True
BelgiumÂ (BEL)                                    True
BermudaÂ (BER)                                   False
BohemiaÂ (BOH) [BOH] [Z]                         False
BotswanaÂ (BOT)                                  False
BrazilÂ (BRA)                                     True
British West IndiesÂ (BWI) [BWI]                 False
BulgariaÂ (BUL) [H]                               True
BurundiÂ (BDI)                                    True
CameroonÂ (CMR)                                   True
CanadaÂ (CAN)                                     True
ChileÂ (CHI) [I]                                  True
ChinaÂ (CHN) [CHN]                                True
ColombiaÂ (COL)                                   True
Costa RicaÂ (CRC)                                 True
Ivory CoastÂ (CIV) [CIV]                         False
CroatiaÂ (CRO)                                    True
CubaÂ (CUB) [Z]                                   True
CyprusÂ (CYP)                                    False
                                                ...
Sri LankaÂ (SRI) [SRI]                           False
SudanÂ (SUD)                                     False
SurinameÂ (SUR) [E]                               True
SwedenÂ (SWE) [Z]                                 True
SwitzerlandÂ (SUI)                                True
SyriaÂ (SYR)                                      True
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                True
TajikistanÂ (TJK)                                False
TanzaniaÂ (TAN) [TAN]                            False
ThailandÂ (THA)                                   True
TogoÂ (TOG)                                      False
TongaÂ (TGA)                                     False
Trinidad and TobagoÂ (TRI) [TRI]                  True
TunisiaÂ (TUN)                                    True
TurkeyÂ (TUR)                                     True
UgandaÂ (UGA)                                     True
UkraineÂ (UKR)                                    True
United Arab EmiratesÂ (UAE)                       True
United StatesÂ (USA) [P] [Q] [R] [Z]              True
UruguayÂ (URU)                                    True
UzbekistanÂ (UZB)                                 True
VenezuelaÂ (VEN)                                  True
VietnamÂ (VIE)                                   False
Virgin IslandsÂ (ISV)                            False
YugoslaviaÂ (YUG) [YUG]                           True
Independent Olympic ParticipantsÂ (IOP) [IOP]    False
ZambiaÂ (ZAM) [ZAM]                              False
ZimbabweÂ (ZIM) [ZIM]                             True
Mixed teamÂ (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool

In [158]:
# next apply boolean mask using "where" clause 
only_gold = df.where(df['Gold'] > 0)
only_gold.count()

# Summer          100
Gold              100
Silver            100
Bronze            100
Total             100
# Winter          100
Gold.1            100
Silver.1          100
Bronze.1          100
Total.1           100
# Games           100
Gold.2            100
Silver.2          100
Bronze.2          100
Combined total    100
dtype: int64

In [169]:
# Drop columns/rows which have NaN
# drop take optional argument which is an axis indicator i.e. rows or columns
# default = 0 which is row
only_gold = only_gold.dropna()
only_gold['Gold']

AlgeriaÂ (ALG)                             5.0
ArgentinaÂ (ARG)                          18.0
ArmeniaÂ (ARM)                             1.0
AustralasiaÂ (ANZ) [ANZ]                   3.0
AustraliaÂ (AUS) [AUS] [Z]               139.0
AustriaÂ (AUT)                            18.0
AzerbaijanÂ (AZE)                          6.0
BahamasÂ (BAH)                             5.0
BelarusÂ (BLR)                            12.0
BelgiumÂ (BEL)                            37.0
BrazilÂ (BRA)                             23.0
BulgariaÂ (BUL) [H]                       51.0
BurundiÂ (BDI)                             1.0
CameroonÂ (CMR)                            3.0
CanadaÂ (CAN)                             59.0
ChileÂ (CHI) [I]                           2.0
ChinaÂ (CHN) [CHN]                       201.0
ColombiaÂ (COL)                            2.0
Costa RicaÂ (CRC)                          1.0
CroatiaÂ (CRO)                             6.0
CubaÂ (CUB) [Z]                           72.0
Czech RepublicÂ (CZE) [CZE]               14.0
CzechoslovakiaÂ (TCH) [TCH]               49.0
DenmarkÂ (DEN) [Z]                        43.0
Dominican RepublicÂ (DOM)                  3.0
EcuadorÂ (ECU)                             1.0
EgyptÂ (EGY) [EGY] [Z]                     7.0
EstoniaÂ (EST)                             9.0
EthiopiaÂ (ETH)                           21.0
FinlandÂ (FIN)                           101.0
                                        ...
RussiaÂ (RUS) [RUS]                      132.0
Russian EmpireÂ (RU1) [RU1]                1.0
Soviet UnionÂ (URS) [URS]                395.0
Unified TeamÂ (EUN) [EUN]                 45.0
SerbiaÂ (SRB) [SRB]                        1.0
Serbia and MontenegroÂ (SCG) [SCG]         2.0
SlovakiaÂ (SVK) [SVK]                      7.0
SloveniaÂ (SLO)                            4.0
South AfricaÂ (RSA)                       23.0
SpainÂ (ESP) [Z]                          37.0
SurinameÂ (SUR) [E]                        1.0
SwedenÂ (SWE) [Z]                        143.0
SwitzerlandÂ (SUI)                        47.0
SyriaÂ (SYR)                               1.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]         2.0
ThailandÂ (THA)                            7.0
Trinidad and TobagoÂ (TRI) [TRI]           2.0
TunisiaÂ (TUN)                             3.0
TurkeyÂ (TUR)                             39.0
UgandaÂ (UGA)                              2.0
UkraineÂ (UKR)                            33.0
United Arab EmiratesÂ (UAE)                1.0
United StatesÂ (USA) [P] [Q] [R] [Z]     976.0
UruguayÂ (URU)                             2.0
UzbekistanÂ (UZB)                          5.0
VenezuelaÂ (VEN)                           2.0
YugoslaviaÂ (YUG) [YUG]                   26.0
ZimbabweÂ (ZIM) [ZIM]                      3.0
Mixed teamÂ (ZZX) [ZZX]                    8.0
Totals                                 4809.0
Name: Gold, Length: 100, dtype: float64

In [162]:
# here we can only_gold countries is less that original countries count
only_gold['Gold'].count()

100

In [163]:
# original countries list. 
df['Gold'].count()

147

In [164]:
only_gold.dropna

<bound method DataFrame.dropna of                                               # Summer    Gold  Silver  \
AfghanistanÂ (AFG)                                  NaN     NaN     NaN
AlgeriaÂ (ALG)                                     12.0     5.0     2.0
ArgentinaÂ (ARG)                                   23.0    18.0    24.0
ArmeniaÂ (ARM)                                      5.0     1.0     2.0
AustralasiaÂ (ANZ) [ANZ]                            2.0     3.0     4.0
AustraliaÂ (AUS) [AUS] [Z]                         25.0   139.0   152.0
AustriaÂ (AUT)                                     26.0    18.0    33.0
AzerbaijanÂ (AZE)                                   5.0     6.0     5.0
BahamasÂ (BAH)                                     15.0     5.0     2.0
BahrainÂ (BRN)                                      NaN     NaN     NaN
BarbadosÂ (BAR) [BAR]                               NaN     NaN     NaN
BelarusÂ (BLR)                                      5.0    12.0    24.0
BelgiumÂ (BEL)                                     25.0    37.0    52.0
BermudaÂ (BER)                                      NaN     NaN     NaN
BohemiaÂ (BOH) [BOH] [Z]                            NaN     NaN     NaN
BotswanaÂ (BOT)                                     NaN     NaN     NaN
BrazilÂ (BRA)                                      21.0    23.0    30.0
British West IndiesÂ (BWI) [BWI]                    NaN     NaN     NaN
BulgariaÂ (BUL) [H]                                19.0    51.0    85.0
BurundiÂ (BDI)                                      5.0     1.0     0.0
CameroonÂ (CMR)                                    13.0     3.0     1.0
CanadaÂ (CAN)                                      25.0    59.0    99.0
ChileÂ (CHI) [I]                                   22.0     2.0     7.0
ChinaÂ (CHN) [CHN]                                  9.0   201.0   146.0
ColombiaÂ (COL)                                    18.0     2.0     6.0
Costa RicaÂ (CRC)                                  14.0     1.0     1.0
Ivory CoastÂ (CIV) [CIV]                            NaN     NaN     NaN
CroatiaÂ (CRO)                                      6.0     6.0     7.0
CubaÂ (CUB) [Z]                                    19.0    72.0    67.0
CyprusÂ (CYP)                                       NaN     NaN     NaN
...                                                ...     ...     ...
Sri LankaÂ (SRI) [SRI]                              NaN     NaN     NaN
SudanÂ (SUD)                                        NaN     NaN     NaN
SurinameÂ (SUR) [E]                                11.0     1.0     0.0
SwedenÂ (SWE) [Z]                                  26.0   143.0   164.0
SwitzerlandÂ (SUI)                                 27.0    47.0    73.0
SyriaÂ (SYR)                                       12.0     1.0     1.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                 13.0     2.0     7.0
TajikistanÂ (TJK)                                   NaN     NaN     NaN
TanzaniaÂ (TAN) [TAN]                               NaN     NaN     NaN
ThailandÂ (THA)                                    15.0     7.0     6.0
TogoÂ (TOG)                                         NaN     NaN     NaN
TongaÂ (TGA)                                        NaN     NaN     NaN
Trinidad and TobagoÂ (TRI) [TRI]                   16.0     2.0     5.0
TunisiaÂ (TUN)                                     13.0     3.0     3.0
TurkeyÂ (TUR)                                      21.0    39.0    25.0
UgandaÂ (UGA)                                      14.0     2.0     3.0
UkraineÂ (UKR)                                      5.0    33.0    27.0
United Arab EmiratesÂ (UAE)                         8.0     1.0     0.0
United StatesÂ (USA) [P] [Q] [R] [Z]               26.0   976.0   757.0
UruguayÂ (URU)                                     20.0     2.0     2.0
UzbekistanÂ (UZB)                                   5.0     5.0     5.0
VenezuelaÂ (VEN)                                   17.0     2.0     2.0
VietnamÂ (VIE)                                      NaN     NaN     NaN
Virgin IslandsÂ (ISV)                               NaN     NaN     NaN
YugoslaviaÂ (YUG) [YUG]                            16.0    26.0    29.0
Independent Olympic ParticipantsÂ (IOP) [IOP]       NaN     NaN     NaN
ZambiaÂ (ZAM) [ZAM]                                 NaN     NaN     NaN
ZimbabweÂ (ZIM) [ZIM]                              12.0     3.0     4.0
Mixed teamÂ (ZZX) [ZZX]                             3.0     8.0     5.0
Totals                                            27.0  4809.0  4775.0

                                              Bronze    Total  # Winter  \
AfghanistanÂ (AFG)                                NaN      NaN       NaN
AlgeriaÂ (ALG)                                    8.0     15.0       3.0
ArgentinaÂ (ARG)                                 28.0     70.0      18.0
ArmeniaÂ (ARM)                                    9.0     12.0       6.0
AustralasiaÂ (ANZ) [ANZ]                          5.0     12.0       0.0
AustraliaÂ (AUS) [AUS] [Z]                      177.0    468.0      18.0
AustriaÂ (AUT)                                   35.0     86.0      22.0
AzerbaijanÂ (AZE)                                15.0     26.0       5.0
BahamasÂ (BAH)                                    5.0     12.0       0.0
BahrainÂ (BRN)                                    NaN      NaN       NaN
BarbadosÂ (BAR) [BAR]                             NaN      NaN       NaN
BelarusÂ (BLR)                                   39.0     75.0       6.0
BelgiumÂ (BEL)                                   53.0    142.0      20.0
BermudaÂ (BER)                                    NaN      NaN       NaN
BohemiaÂ (BOH) [BOH] [Z]                          NaN      NaN       NaN
BotswanaÂ (BOT)                                   NaN      NaN       NaN
BrazilÂ (BRA)                                    55.0    108.0       7.0
British West IndiesÂ (BWI) [BWI]                  NaN      NaN       NaN
BulgariaÂ (BUL) [H]                              78.0    214.0      19.0
BurundiÂ (BDI)                                    0.0      1.0       0.0
CameroonÂ (CMR)                                   1.0      5.0       1.0
CanadaÂ (CAN)                                   121.0    279.0      22.0
ChileÂ (CHI) [I]                                  4.0     13.0      16.0
ChinaÂ (CHN) [CHN]                              126.0    473.0      10.0
ColombiaÂ (COL)                                  11.0     19.0       1.0
Costa RicaÂ (CRC)                                 2.0      4.0       6.0
Ivory CoastÂ (CIV) [CIV]                          NaN      NaN       NaN
CroatiaÂ (CRO)                                   10.0     23.0       7.0
CubaÂ (CUB) [Z]                                  70.0    209.0       0.0
CyprusÂ (CYP)                                     NaN      NaN       NaN
...                                              ...      ...       ...
Sri LankaÂ (SRI) [SRI]                            NaN      NaN       NaN
SudanÂ (SUD)                                      NaN      NaN       NaN
SurinameÂ (SUR) [E]                               1.0      2.0       0.0
SwedenÂ (SWE) [Z]                               176.0    483.0      22.0
SwitzerlandÂ (SUI)                               65.0    185.0      22.0
SyriaÂ (SYR)                                      1.0      3.0       0.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]               12.0     21.0      11.0
TajikistanÂ (TJK)                                 NaN      NaN       NaN
TanzaniaÂ (TAN) [TAN]                             NaN      NaN       NaN
ThailandÂ (THA)                                  11.0     24.0       3.0
TogoÂ (TOG)                                       NaN      NaN       NaN
TongaÂ (TGA)                                      NaN      NaN       NaN
Trinidad and TobagoÂ (TRI) [TRI]                 11.0     18.0       3.0
TunisiaÂ (TUN)                                    4.0     10.0       0.0
TurkeyÂ (TUR)                                    24.0     88.0      16.0
UgandaÂ (UGA)                                     2.0      7.0       0.0
UkraineÂ (UKR)                                   55.0    115.0       6.0
United Arab EmiratesÂ (UAE)                       0.0      1.0       0.0
United StatesÂ (USA) [P] [Q] [R] [Z]            666.0   2399.0      22.0
UruguayÂ (URU)                                    6.0     10.0       1.0
UzbekistanÂ (UZB)                                10.0     20.0       6.0
VenezuelaÂ (VEN)                                  8.0     12.0       4.0
VietnamÂ (VIE)                                    NaN      NaN       NaN
Virgin IslandsÂ (ISV)                             NaN      NaN       NaN
YugoslaviaÂ (YUG) [YUG]                          28.0     83.0      14.0
Independent Olympic ParticipantsÂ (IOP) [IOP]     NaN      NaN       NaN
ZambiaÂ (ZAM) [ZAM]                               NaN      NaN       NaN
ZimbabweÂ (ZIM) [ZIM]                             1.0      8.0       1.0
Mixed teamÂ (ZZX) [ZZX]                           4.0     17.0       0.0
Totals                                        5130.0  14714.0      22.0

                                              Gold.1  Silver.1  Bronze.1  \
AfghanistanÂ (AFG)                                NaN       NaN       NaN
AlgeriaÂ (ALG)                                    0.0       0.0       0.0
ArgentinaÂ (ARG)                                  0.0       0.0       0.0
ArmeniaÂ (ARM)                                    0.0       0.0       0.0
AustralasiaÂ (ANZ) [ANZ]                          0.0       0.0       0.0
AustraliaÂ (AUS) [AUS] [Z]                        5.0       3.0       4.0
AustriaÂ (AUT)                                   59.0      78.0      81.0
AzerbaijanÂ (AZE)                                 0.0       0.0       0.0
BahamasÂ (BAH)                                    0.0       0.0       0.0
BahrainÂ (BRN)                                    NaN       NaN       NaN
BarbadosÂ (BAR) [BAR]                             NaN       NaN       NaN
BelarusÂ (BLR)                                    6.0       4.0       5.0
BelgiumÂ (BEL)                                    1.0       1.0       3.0
BermudaÂ (BER)                                    NaN       NaN       NaN
BohemiaÂ (BOH) [BOH] [Z]                          NaN       NaN       NaN
BotswanaÂ (BOT)                                   NaN       NaN       NaN
BrazilÂ (BRA)                                     0.0       0.0       0.0
British West IndiesÂ (BWI) [BWI]                  NaN       NaN       NaN
BulgariaÂ (BUL) [H]                               1.0       2.0       3.0
BurundiÂ (BDI)                                    0.0       0.0       0.0
CameroonÂ (CMR)                                   0.0       0.0       0.0
CanadaÂ (CAN)                                    62.0      56.0      52.0
ChileÂ (CHI) [I]                                  0.0       0.0       0.0
ChinaÂ (CHN) [CHN]                               12.0      22.0      19.0
ColombiaÂ (COL)                                   0.0       0.0       0.0
Costa RicaÂ (CRC)                                 0.0       0.0       0.0
Ivory CoastÂ (CIV) [CIV]                          NaN       NaN       NaN
CroatiaÂ (CRO)                                    4.0       6.0       1.0
CubaÂ (CUB) [Z]                                   0.0       0.0       0.0
CyprusÂ (CYP)                                     NaN       NaN       NaN
...                                              ...       ...       ...
Sri LankaÂ (SRI) [SRI]                            NaN       NaN       NaN
SudanÂ (SUD)                                      NaN       NaN       NaN
SurinameÂ (SUR) [E]                               0.0       0.0       0.0
SwedenÂ (SWE) [Z]                                50.0      40.0      54.0
SwitzerlandÂ (SUI)                               50.0      40.0      48.0
SyriaÂ (SYR)                                      0.0       0.0       0.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                0.0       0.0       0.0
TajikistanÂ (TJK)                                 NaN       NaN       NaN
TanzaniaÂ (TAN) [TAN]                             NaN       NaN       NaN
ThailandÂ (THA)                                   0.0       0.0       0.0
TogoÂ (TOG)                                       NaN       NaN       NaN
TongaÂ (TGA)                                      NaN       NaN       NaN
Trinidad and TobagoÂ (TRI) [TRI]                  0.0       0.0       0.0
TunisiaÂ (TUN)                                    0.0       0.0       0.0
TurkeyÂ (TUR)                                     0.0       0.0       0.0
UgandaÂ (UGA)                                     0.0       0.0       0.0
UkraineÂ (UKR)                                    2.0       1.0       4.0
United Arab EmiratesÂ (UAE)                       0.0       0.0       0.0
United StatesÂ (USA) [P] [Q] [R] [Z]             96.0     102.0      84.0
UruguayÂ (URU)                                    0.0       0.0       0.0
UzbekistanÂ (UZB)                                 1.0       0.0       0.0
VenezuelaÂ (VEN)                                  0.0       0.0       0.0
VietnamÂ (VIE)                                    NaN       NaN       NaN
Virgin IslandsÂ (ISV)                             NaN       NaN       NaN
YugoslaviaÂ (YUG) [YUG]                           0.0       3.0       1.0
Independent Olympic ParticipantsÂ (IOP) [IOP]     NaN       NaN       NaN
ZambiaÂ (ZAM) [ZAM]                               NaN       NaN       NaN
ZimbabweÂ (ZIM) [ZIM]                             0.0       0.0       0.0
Mixed teamÂ (ZZX) [ZZX]                           0.0       0.0       0.0
Totals                                         959.0     958.0     948.0

                                              Total.1  # Games  Gold.2  \
AfghanistanÂ (AFG)                                 NaN      NaN     NaN
AlgeriaÂ (ALG)                                     0.0     15.0     5.0
ArgentinaÂ (ARG)                                   0.0     41.0    18.0
ArmeniaÂ (ARM)                                     0.0     11.0     1.0
AustralasiaÂ (ANZ) [ANZ]                           0.0      2.0     3.0
AustraliaÂ (AUS) [AUS] [Z]                        12.0     43.0   144.0
AustriaÂ (AUT)                                   218.0     48.0    77.0
AzerbaijanÂ (AZE)                                  0.0     10.0     6.0
BahamasÂ (BAH)                                     0.0     15.0     5.0
BahrainÂ (BRN)                                     NaN      NaN     NaN
BarbadosÂ (BAR) [BAR]                              NaN      NaN     NaN
BelarusÂ (BLR)                                    15.0     11.0    18.0
BelgiumÂ (BEL)                                     5.0     45.0    38.0
BermudaÂ (BER)                                     NaN      NaN     NaN
BohemiaÂ (BOH) [BOH] [Z]                           NaN      NaN     NaN
BotswanaÂ (BOT)                                    NaN      NaN     NaN
BrazilÂ (BRA)                                      0.0     28.0    23.0
British West IndiesÂ (BWI) [BWI]                   NaN      NaN     NaN
BulgariaÂ (BUL) [H]                                6.0     38.0    52.0
BurundiÂ (BDI)                                     0.0      5.0     1.0
CameroonÂ (CMR)                                    0.0     14.0     3.0
CanadaÂ (CAN)                                    170.0     47.0   121.0
ChileÂ (CHI) [I]                                   0.0     38.0     2.0
ChinaÂ (CHN) [CHN]                                53.0     19.0   213.0
ColombiaÂ (COL)                                    0.0     19.0     2.0
Costa RicaÂ (CRC)                                  0.0     20.0     1.0
Ivory CoastÂ (CIV) [CIV]                           NaN      NaN     NaN
CroatiaÂ (CRO)                                    11.0     13.0    10.0
CubaÂ (CUB) [Z]                                    0.0     19.0    72.0
CyprusÂ (CYP)                                      NaN      NaN     NaN
...                                               ...      ...     ...
Sri LankaÂ (SRI) [SRI]                             NaN      NaN     NaN
SudanÂ (SUD)                                       NaN      NaN     NaN
SurinameÂ (SUR) [E]                                0.0     11.0     1.0
SwedenÂ (SWE) [Z]                                144.0     48.0   193.0
SwitzerlandÂ (SUI)                               138.0     49.0    97.0
SyriaÂ (SYR)                                       0.0     12.0     1.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                 0.0     24.0     2.0
TajikistanÂ (TJK)                                  NaN      NaN     NaN
TanzaniaÂ (TAN) [TAN]                              NaN      NaN     NaN
ThailandÂ (THA)                                    0.0     18.0     7.0
TogoÂ (TOG)                                        NaN      NaN     NaN
TongaÂ (TGA)                                       NaN      NaN     NaN
Trinidad and TobagoÂ (TRI) [TRI]                   0.0     19.0     2.0
TunisiaÂ (TUN)                                     0.0     13.0     3.0
TurkeyÂ (TUR)                                      0.0     37.0    39.0
UgandaÂ (UGA)                                      0.0     14.0     2.0
UkraineÂ (UKR)                                     7.0     11.0    35.0
United Arab EmiratesÂ (UAE)                        0.0      8.0     1.0
United StatesÂ (USA) [P] [Q] [R] [Z]             282.0     48.0  1072.0
UruguayÂ (URU)                                     0.0     21.0     2.0
UzbekistanÂ (UZB)                                  1.0     11.0     6.0
VenezuelaÂ (VEN)                                   0.0     21.0     2.0
VietnamÂ (VIE)                                     NaN      NaN     NaN
Virgin IslandsÂ (ISV)                              NaN      NaN     NaN
YugoslaviaÂ (YUG) [YUG]                            4.0     30.0    26.0
Independent Olympic ParticipantsÂ (IOP) [IOP]      NaN      NaN     NaN
ZambiaÂ (ZAM) [ZAM]                                NaN      NaN     NaN
ZimbabweÂ (ZIM) [ZIM]                              0.0     13.0     3.0
Mixed teamÂ (ZZX) [ZZX]                            0.0      3.0     8.0
Totals                                         2865.0     49.0  5768.0

                                              Silver.2  Bronze.2  \
AfghanistanÂ (AFG)                                  NaN       NaN
AlgeriaÂ (ALG)                                      2.0       8.0
ArgentinaÂ (ARG)                                   24.0      28.0
ArmeniaÂ (ARM)                                      2.0       9.0
AustralasiaÂ (ANZ) [ANZ]                            4.0       5.0
AustraliaÂ (AUS) [AUS] [Z]                        155.0     181.0
AustriaÂ (AUT)                                    111.0     116.0
AzerbaijanÂ (AZE)                                   5.0      15.0
BahamasÂ (BAH)                                      2.0       5.0
BahrainÂ (BRN)                                      NaN       NaN
BarbadosÂ (BAR) [BAR]                               NaN       NaN
BelarusÂ (BLR)                                     28.0      44.0
BelgiumÂ (BEL)                                     53.0      56.0
BermudaÂ (BER)                                      NaN       NaN
BohemiaÂ (BOH) [BOH] [Z]                            NaN       NaN
BotswanaÂ (BOT)                                     NaN       NaN
BrazilÂ (BRA)                                      30.0      55.0
British West IndiesÂ (BWI) [BWI]                    NaN       NaN
BulgariaÂ (BUL) [H]                                87.0      81.0
BurundiÂ (BDI)                                      0.0       0.0
CameroonÂ (CMR)                                     1.0       1.0
CanadaÂ (CAN)                                     155.0     173.0
ChileÂ (CHI) [I]                                    7.0       4.0
ChinaÂ (CHN) [CHN]                                168.0     145.0
ColombiaÂ (COL)                                     6.0      11.0
Costa RicaÂ (CRC)                                   1.0       2.0
Ivory CoastÂ (CIV) [CIV]                            NaN       NaN
CroatiaÂ (CRO)                                     13.0      11.0

In [169]:
# Drop columns/rows which have NaN
# drop take optional argument which is an axis indicator i.e. rows or columns
# default = 0 which is row
only_gold = only_gold.dropna()
only_gold['Gold']

AlgeriaÂ (ALG)                             5.0
ArgentinaÂ (ARG)                          18.0
ArmeniaÂ (ARM)                             1.0
AustralasiaÂ (ANZ) [ANZ]                   3.0
AustraliaÂ (AUS) [AUS] [Z]               139.0
AustriaÂ (AUT)                            18.0
AzerbaijanÂ (AZE)                          6.0
BahamasÂ (BAH)                             5.0
BelarusÂ (BLR)                            12.0
BelgiumÂ (BEL)                            37.0
BrazilÂ (BRA)                             23.0
BulgariaÂ (BUL) [H]                       51.0
BurundiÂ (BDI)                             1.0
CameroonÂ (CMR)                            3.0
CanadaÂ (CAN)                             59.0
ChileÂ (CHI) [I]                           2.0
ChinaÂ (CHN) [CHN]                       201.0
ColombiaÂ (COL)                            2.0
Costa RicaÂ (CRC)                          1.0
CroatiaÂ (CRO)                             6.0
CubaÂ (CUB) [Z]                           72.0
Czech RepublicÂ (CZE) [CZE]               14.0
CzechoslovakiaÂ (TCH) [TCH]               49.0
DenmarkÂ (DEN) [Z]                        43.0
Dominican RepublicÂ (DOM)                  3.0
EcuadorÂ (ECU)                             1.0
EgyptÂ (EGY) [EGY] [Z]                     7.0
EstoniaÂ (EST)                             9.0
EthiopiaÂ (ETH)                           21.0
FinlandÂ (FIN)                           101.0
                                        ...
RussiaÂ (RUS) [RUS]                      132.0
Russian EmpireÂ (RU1) [RU1]                1.0
Soviet UnionÂ (URS) [URS]                395.0
Unified TeamÂ (EUN) [EUN]                 45.0
SerbiaÂ (SRB) [SRB]                        1.0
Serbia and MontenegroÂ (SCG) [SCG]         2.0
SlovakiaÂ (SVK) [SVK]                      7.0
SloveniaÂ (SLO)                            4.0
South AfricaÂ (RSA)                       23.0
SpainÂ (ESP) [Z]                          37.0
SurinameÂ (SUR) [E]                        1.0
SwedenÂ (SWE) [Z]                        143.0
SwitzerlandÂ (SUI)                        47.0
SyriaÂ (SYR)                               1.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2]         2.0
ThailandÂ (THA)                            7.0
Trinidad and TobagoÂ (TRI) [TRI]           2.0
TunisiaÂ (TUN)                             3.0
TurkeyÂ (TUR)                             39.0
UgandaÂ (UGA)                              2.0
UkraineÂ (UKR)                            33.0
United Arab EmiratesÂ (UAE)                1.0
United StatesÂ (USA) [P] [Q] [R] [Z]     976.0
UruguayÂ (URU)                             2.0
UzbekistanÂ (UZB)                          5.0
VenezuelaÂ (VEN)                           2.0
YugoslaviaÂ (YUG) [YUG]                   26.0
ZimbabweÂ (ZIM) [ZIM]                      3.0
Mixed teamÂ (ZZX) [ZZX]                    8.0
Totals                                 4809.0
Name: Gold, Length: 100, dtype: float64

In [170]:
# short to filter countries who have won gold without using where clause
only_gold1 = df[df['Gold'] > 0]
only_gold1.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustraliaÂ (AUS) [AUS] [Z]</th>
      <td>25</td>
      <td>139</td>
      <td>152</td>
      <td>177</td>
      <td>468</td>
      <td>18</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>12</td>
      <td>43</td>
      <td>144</td>
      <td>155</td>
      <td>181</td>
      <td>480</td>
    </tr>
  </tbody>
</table>
</div>

In [173]:
only_gold1.head()
only_gold1.count()

# Summer          100
Gold              100
Silver            100
Bronze            100
Total             100
# Winter          100
Gold.1            100
Silver.1          100
Bronze.1          100
Total.1           100
# Games           100
Gold.2            100
Silver.2          100
Bronze.2          100
Combined total    100
dtype: int64

In [174]:
only_gold1['Gold'].count()

100

In [181]:
# Operation between 2 boolean mask compared to bitwise operator results in boolean mask
goldinbothsummerandwinter = df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]

In [186]:
goldinbothsummerandwinter['Gold'].count()

101

In [187]:
countrieswhichwononlyinwinterolympics = df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]
countrieswhichwononlyinwinterolympics['Gold'].count()

1

In [188]:
countrieswhichwononlyinwinterolympics

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LiechtensteinÂ (LIE)</th>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>18</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>9</td>
      <td>34</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [189]:
print(countrieswhichwononlyinwinterolympics)

                     # Summer  Gold  Silver  Bronze  Total  # Winter  Gold.1  \
LiechtensteinÂ (LIE)        16     0       0       0      0        18       2

                     Silver.1  Bronze.1  Total.1  # Games  Gold.2  Silver.2  \
LiechtensteinÂ (LIE)         2         5        9       34       2         2

                     Bronze.2  Combined total
LiechtensteinÂ (LIE)         5               9

In [190]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Item Purchased</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Store 1</th>
      <td>Chris</td>
      <td>Dog Food</td>
      <td>22.5</td>
    </tr>
    <tr>
      <th>Store 1</th>
      <td>Kevyn</td>
      <td>Kitty Litter</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>Store 2</th>
      <td>Vinod</td>
      <td>Bird Seed</td>
      <td>5.0</td>
    </tr>
  </tbody>
</table>
</div>

In [194]:
df[(df['Cost'] > 3)]['Name']

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

In [196]:
#  indexing dataframe. 
#  indexing is at row level. 
#  indexing can be numeric (i.e. automatic) when creating data frame from a dictionary
#  without having a specified index columns
#  or when you supply at the time of creation of data using either index or index_columns
df.head()
df['country'] = df.index
df = df.set_index('Gold')
df.head()

KeyError: 'Gold'

In [197]:
df.colums

AttributeError: 'DataFrame' object has no attribute 'colums'

In [198]:
df.columns

Index(['Name', 'Item Purchased', 'Cost', 'country'], dtype='object')

In [199]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
for col in df.columns:

SyntaxError: unexpected EOF while parsing (<ipython-input-199-a7174d6c3ac4>, line 2)

In [201]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

In [202]:
df.count()

â Summer          147
01 !              147
02 !              147
03 !              147
Total             147
â Winter          147
01 !.1            147
02 !.1            147
03 !.1            147
Total.1           147
â Games           147
01 !.2            147
02 !.2            147
03 !.2            147
Combined total    147
dtype: int64

In [203]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AfghanistanÂ (AFG)</th>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>AlgeriaÂ (ALG)</th>
      <td>12</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
    </tr>
    <tr>
      <th>ArgentinaÂ (ARG)</th>
      <td>23</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
    </tr>
    <tr>
      <th>ArmeniaÂ (ARM)</th>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>AustralasiaÂ (ANZ) [ANZ]</th>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

In [204]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
      <th>country</th>
    </tr>
    <tr>
      <th>Gold</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>AfghanistanÂ (AFG)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>AlgeriaÂ (ALG)</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>ArgentinaÂ (ARG)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>ArmeniaÂ (ARM)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>AustralasiaÂ (ANZ) [ANZ]</td>
    </tr>
  </tbody>
</table>
</div>

In [205]:
df.columns

Index(['# Summer', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total', 'country'],
      dtype='object')

In [206]:
df.reset_index()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Gold</th>
      <th># Summer</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
      <th>country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>AfghanistanÂ (AFG)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>12</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>AlgeriaÂ (ALG)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>23</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>ArgentinaÂ (ARG)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>ArmeniaÂ (ARM)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>AustralasiaÂ (ANZ) [ANZ]</td>
    </tr>
    <tr>
      <th>5</th>
      <td>139</td>
      <td>25</td>
      <td>152</td>
      <td>177</td>
      <td>468</td>
      <td>18</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>12</td>
      <td>43</td>
      <td>144</td>
      <td>155</td>
      <td>181</td>
      <td>480</td>
      <td>AustraliaÂ (AUS) [AUS] [Z]</td>
    </tr>
    <tr>
      <th>6</th>
      <td>18</td>
      <td>26</td>
      <td>33</td>
      <td>35</td>
      <td>86</td>
      <td>22</td>
      <td>59</td>
      <td>78</td>
      <td>81</td>
      <td>218</td>
      <td>48</td>
      <td>77</td>
      <td>111</td>
      <td>116</td>
      <td>304</td>
      <td>AustriaÂ (AUT)</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>15</td>
      <td>26</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>6</td>
      <td>5</td>
      <td>15</td>
      <td>26</td>
      <td>AzerbaijanÂ (AZE)</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>15</td>
      <td>2</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>12</td>
      <td>BahamasÂ (BAH)</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>BahrainÂ (BRN)</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>BarbadosÂ (BAR) [BAR]</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>5</td>
      <td>24</td>
      <td>39</td>
      <td>75</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>15</td>
      <td>11</td>
      <td>18</td>
      <td>28</td>
      <td>44</td>
      <td>90</td>
      <td>BelarusÂ (BLR)</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>25</td>
      <td>52</td>
      <td>53</td>
      <td>142</td>
      <td>20</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>5</td>
      <td>45</td>
      <td>38</td>
      <td>53</td>
      <td>56</td>
      <td>147</td>
      <td>BelgiumÂ (BEL)</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0</td>
      <td>17</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>24</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>BermudaÂ (BER)</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>BohemiaÂ (BOH) [BOH] [Z]</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>BotswanaÂ (BOT)</td>
    </tr>
    <tr>
      <th>16</th>
      <td>23</td>
      <td>21</td>
      <td>30</td>
      <td>55</td>
      <td>108</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>28</td>
      <td>23</td>
      <td>30</td>
      <td>55</td>
      <td>108</td>
      <td>BrazilÂ (BRA)</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>British West IndiesÂ (BWI) [BWI]</td>
    </tr>
    <tr>
      <th>18</th>
      <td>51</td>
      <td>19</td>
      <td>85</td>
      <td>78</td>
      <td>214</td>
      <td>19</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
      <td>38</td>
      <td>52</td>
      <td>87</td>
      <td>81</td>
      <td>220</td>
      <td>BulgariaÂ (BUL) [H]</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>BurundiÂ (BDI)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>13</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>14</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
      <td>CameroonÂ (CMR)</td>
    </tr>
    <tr>
      <th>21</th>
      <td>59</td>
      <td>25</td>
      <td>99</td>
      <td>121</td>
      <td>279</td>
      <td>22</td>
      <td>62</td>
      <td>56</td>
      <td>52</td>
      <td>170</td>
      <td>47</td>
      <td>121</td>
      <td>155</td>
      <td>173</td>
      <td>449</td>
      <td>CanadaÂ (CAN)</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>22</td>
      <td>7</td>
      <td>4</td>
      <td>13</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>38</td>
      <td>2</td>
      <td>7</td>
      <td>4</td>
      <td>13</td>
      <td>ChileÂ (CHI) [I]</td>
    </tr>
    <tr>
      <th>23</th>
      <td>201</td>
      <td>9</td>
      <td>146</td>
      <td>126</td>
      <td>473</td>
      <td>10</td>
      <td>12</td>
      <td>22</td>
      <td>19</td>
      <td>53</td>
      <td>19</td>
      <td>213</td>
      <td>168</td>
      <td>145</td>
      <td>526</td>
      <td>ChinaÂ (CHN) [CHN]</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2</td>
      <td>18</td>
      <td>6</td>
      <td>11</td>
      <td>19</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>2</td>
      <td>6</td>
      <td>11</td>
      <td>19</td>
      <td>ColombiaÂ (COL)</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1</td>
      <td>14</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>20</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>Costa RicaÂ (CRC)</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0</td>
      <td>12</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>Ivory CoastÂ (CIV) [CIV]</td>
    </tr>
    <tr>
      <th>27</th>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>10</td>
      <td>23</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>1</td>
      <td>11</td>
      <td>13</td>
      <td>10</td>
      <td>13</td>
      <td>11</td>
      <td>34</td>
      <td>CroatiaÂ (CRO)</td>
    </tr>
    <tr>
      <th>28</th>
      <td>72</td>
      <td>19</td>
      <td>67</td>
      <td>70</td>
      <td>209</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>72</td>
      <td>67</td>
      <td>70</td>
      <td>209</td>
      <td>CubaÂ (CUB) [Z]</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>CyprusÂ (CYP)</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>117</th>
      <td>0</td>
      <td>16</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>16</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>Sri LankaÂ (SRI) [SRI]</td>
    </tr>
    <tr>
      <th>118</th>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>SudanÂ (SUD)</td>
    </tr>
    <tr>
      <th>119</th>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>SurinameÂ (SUR) [E]</td>
    </tr>
    <tr>
      <th>120</th>
      <td>143</td>
      <td>26</td>
      <td>164</td>
      <td>176</td>
      <td>483</td>
      <td>22</td>
      <td>50</td>
      <td>40</td>
      <td>54</td>
      <td>144</td>
      <td>48</td>
      <td>193</td>
      <td>204</td>
      <td>230</td>
      <td>627</td>
      <td>SwedenÂ (SWE) [Z]</td>
    </tr>
    <tr>
      <th>121</th>
      <td>47</td>
      <td>27</td>
      <td>73</td>
      <td>65</td>
      <td>185</td>
      <td>22</td>
      <td>50</td>
      <td>40</td>
      <td>48</td>
      <td>138</td>
      <td>49</td>
      <td>97</td>
      <td>113</td>
      <td>113</td>
      <td>323</td>
      <td>SwitzerlandÂ (SUI)</td>
    </tr>
    <tr>
      <th>122</th>
      <td>1</td>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>SyriaÂ (SYR)</td>
    </tr>
    <tr>
      <th>123</th>
      <td>2</td>
      <td>13</td>
      <td>7</td>
      <td>12</td>
      <td>21</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>24</td>
      <td>2</td>
      <td>7</td>
      <td>12</td>
      <td>21</td>
      <td>Chinese TaipeiÂ (TPE) [TPE] [TPE2]</td>
    </tr>
    <tr>
      <th>124</th>
      <td>0</td>
      <td>5</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>TajikistanÂ (TJK)</td>
    </tr>
    <tr>
      <th>125</th>
      <td>0</td>
      <td>12</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>TanzaniaÂ (TAN) [TAN]</td>
    </tr>
    <tr>
      <th>126</th>
      <td>7</td>
      <td>15</td>
      <td>6</td>
      <td>11</td>
      <td>24</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>18</td>
      <td>7</td>
      <td>6</td>
      <td>11</td>
      <td>24</td>
      <td>ThailandÂ (THA)</td>
    </tr>
    <tr>
      <th>127</th>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>TogoÂ (TOG)</td>
    </tr>
    <tr>
      <th>128</th>
      <td>0</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>TongaÂ (TGA)</td>
    </tr>
    <tr>
      <th>129</th>
      <td>2</td>
      <td>16</td>
      <td>5</td>
      <td>11</td>
      <td>18</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>19</td>
      <td>2</td>
      <td>5</td>
      <td>11</td>
      <td>18</td>
      <td>Trinidad and TobagoÂ (TRI) [TRI]</td>
    </tr>
    <tr>
      <th>130</th>
      <td>3</td>
      <td>13</td>
      <td>3</td>
      <td>4</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>10</td>
      <td>TunisiaÂ (TUN)</td>
    </tr>
    <tr>
      <th>131</th>
      <td>39</td>
      <td>21</td>
      <td>25</td>
      <td>24</td>
      <td>88</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>37</td>
      <td>39</td>
      <td>25</td>
      <td>24</td>
      <td>88</td>
      <td>TurkeyÂ (TUR)</td>
    </tr>
    <tr>
      <th>132</th>
      <td>2</td>
      <td>14</td>
      <td>3</td>
      <td>2</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>14</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>7</td>
      <td>UgandaÂ (UGA)</td>
    </tr>
    <tr>
      <th>133</th>
      <td>33</td>
      <td>5</td>
      <td>27</td>
      <td>55</td>
      <td>115</td>
      <td>6</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>11</td>
      <td>35</td>
      <td>28</td>
      <td>59</td>
      <td>122</td>
      <td>UkraineÂ (UKR)</td>
    </tr>
    <tr>
      <th>134</th>
      <td>1</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>United Arab EmiratesÂ (UAE)</td>
    </tr>
    <tr>
      <th>135</th>
      <td>976</td>
      <td>26</td>
      <td>757</td>
      <td>666</td>
      <td>2399</td>
      <td>22</td>
      <td>96</td>
      <td>102</td>
      <td>84</td>
      <td>282</td>
      <td>48</td>
      <td>1072</td>
      <td>859</td>
      <td>750</td>
      <td>2681</td>
      <td>United StatesÂ (USA) [P] [Q] [R] [Z]</td>
    </tr>
    <tr>
      <th>136</th>
      <td>2</td>
      <td>20</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>21</td>
      <td>2</td>
      <td>2</td>
      <td>6</td>
      <td>10</td>
      <td>UruguayÂ (URU)</td>
    </tr>
    <tr>
      <th>137</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>10</td>
      <td>20</td>
      <td>6</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>10</td>
      <td>21</td>
      <td>UzbekistanÂ (UZB)</td>
    </tr>
    <tr>
      <th>138</th>
      <td>2</td>
      <td>17</td>
      <td>2</td>
      <td>8</td>
      <td>12</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>21</td>
      <td>2</td>
      <td>2</td>
      <td>8</td>
      <td>12</td>
      <td>VenezuelaÂ (VEN)</td>
    </tr>
    <tr>
      <th>139</th>
      <td>0</td>
      <td>14</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>14</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>VietnamÂ (VIE)</td>
    </tr>
    <tr>
      <th>140</th>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>18</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>Virgin IslandsÂ (ISV)</td>
    </tr>
    <tr>
      <th>141</th>
      <td>26</td>
      <td>16</td>
      <td>29</td>
      <td>28</td>
      <td>83</td>
      <td>14</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>30</td>
      <td>26</td>
      <td>32</td>
      <td>29</td>
      <td>87</td>
      <td>YugoslaviaÂ (YUG) [YUG]</td>
    </tr>
    <tr>
      <th>142</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>Independent Olympic ParticipantsÂ (IOP) [IOP]</td>
    </tr>
    <tr>
      <th>143</th>
      <td>0</td>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>

In [207]:
df.head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
      <th>country</th>
    </tr>
    <tr>
      <th>Gold</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>AfghanistanÂ (AFG)</td>
    </tr>
  </tbody>
</table>
</div>

In [208]:
df.columns

Index(['# Summer', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total', 'country'],
      dtype='object')

In [209]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th># Summer</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Total</th>
      <th># Winter</th>
      <th>Gold.1</th>
      <th>Silver.1</th>
      <th>Bronze.1</th>
      <th>Total.1</th>
      <th># Games</th>
      <th>Gold.2</th>
      <th>Silver.2</th>
      <th>Bronze.2</th>
      <th>Combined total</th>
      <th>country</th>
    </tr>
    <tr>
      <th>Gold</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>13</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>13</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>AfghanistanÂ (AFG)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>5</td>
      <td>2</td>
      <td>8</td>
      <td>15</td>
      <td>AlgeriaÂ (ALG)</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
      <td>18</td>
      <td>24</td>
      <td>28</td>
      <td>70</td>
      <td>ArgentinaÂ (ARG)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
      <td>9</td>
      <td>12</td>
      <td>ArmeniaÂ (ARM)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>12</td>
      <td>AustralasiaÂ (ANZ) [ANZ]</td>
    </tr>
  </tbody>
</table>
</div>